*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --grey: rgb(111, 111, 111);
  --light-grey: rgb(232, 232, 232);
}

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Poppins'
}

.nav-container {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 30px 2px rgb(200, 200, 200);
  padding: 20px;
}

.logo {
  width: 120px;
}

.hero-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.gridImg {
  margin-top: 50px;
  max-width: 100%;
  align-self: center;
}

.text-container {
  max-width: 400px;
}

.exp {
  font-size: 2.5rem;
  margin-bottom: 12px;
}

.para {
  font-size: 1.15rem;
}

.card-container {
  padding: 10px;
  position: relative;
  margin-left: 40px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.photo {
  max-width: 100%;
  margin-bottom: 10px;
}

.label {
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 2px 6px;
  background-color: var(--light-grey);
  border-radius: 3px;
}

.info-box {
  display: flex;
  flex-direction: column;
}

.star {
  max-width: 15px;
  margin-right: 5px;
}

.no-rating, .location {
  color: var(--grey);
}

.price {
  font-weight: 700;
}

.regular {
  font-weight: 400;
}